.mainDiv {
    height: 100%;
    margin: 0;
}
.textDiv {
    height: calc(100% - 2cm - 30px);
    padding: 10px 10px 20px 10px;
    gap: 10px;
}

.textArea {
    width: calc(100% - 20px);
    height: 100%;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
}

.buttonArea {
    height: 2cm;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20px 1fr 20px 1fr 20px;
}

.button {
    background-color: #2196f3; /* 青色 */
    color: white;
    height: 80%;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #1976d2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.deleteButton {
    grid-row: 1 / 1;
    grid-column: 2 / 3;
}

.copyButton {
    grid-row: 1 / 1;
    grid-column: 4 / 5;
}

.button:active {
    background-color: #1565c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.clipBoardAttention {
    background-color: cornsilk;
    color: black;
    font-size: 10pt;
    height: 1.5em;
    width: 8em;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease-out;
    backface-visibility: hidden;
    transform: "rotateY(180deg)";
    grid-row: 1 / 1;
    grid-column: 4 / 5;
}

.copyButton:hover + .clipBoardAttention {
    opacity: 1;
}
